In [16]:
import pandas as pd
from pandas import DataFrame

list_names = (
    'demodata_training_0.csv', 'demodata_training_1.csv', 'demodata_training_2.csv', 'demodata_training_3.csv',
    'demodata_training_4.csv', 'demodata_training_5.csv', 'demodata_training_6.csv', 'demodata_training_7.csv',
    'demodata_training_8.csv', 'demodata_training_9.csv', 'demodata_training_10.csv', 'demodata_training_11.csv',
    'demodata_training_12.csv'
)

final_data: DataFrame = pd.DataFrame()

for items in list_names:
    print(items)
    data_temp = pd.read_csv(
        "/Users/ruddirodriguez/Dropbox/Machine_Learning/NLP/" + items)
    final_data = final_data.append(data_temp)

print(final_data.shape)
#final_data.to_csv(
    #r'/Users/ruddirodriguez/Dropbox/Machine_Learning/NLP/demodata_training_full_v1.csv ')
final_data.head (10)

demodata_training_0.csv
demodata_training_1.csv
demodata_training_2.csv
demodata_training_3.csv
demodata_training_4.csv
demodata_training_5.csv
demodata_training_6.csv
demodata_training_7.csv
demodata_training_8.csv
demodata_training_9.csv
demodata_training_10.csv
demodata_training_11.csv
demodata_training_12.csv
(5166, 4)

,Unnamed: 0,Level,Type_of_Job,Description
0,1,Mid-Senior level,Full-time,Lead Data Engineer Data Engineer required ...
1,2,Mid-Senior level,Full-time,Our client is building the future of medical d...
2,3,Not Applicable,Full-time,We are looking for a Data Scientist with exper...
3,4,Not Applicable,Contract,•\tBig data full stack engineers – who are co...
4,5,Mid-Senior level,Full-time,We are seeking healthcare analytics lead to su...
5,6,Entry level,Full-time,In order to be considered for this position pl...
6,7,Mid-Senior level,Full-time,Senior Deep Learning Scientist Location: New...
7,8,Executive,Full-time,"SVP Data Science & AnalyticsHouston, TX The S..."
8,9,Associate,Full-time,"Data Scientist is needed in Culver City, CA fo..."
9,10,Mid-Senior level,Full-time,"Data Engineer Raleigh, NC Software Start-Up Co..."

In [17]:
final_data['Description'].iloc[8]

'Data Scientist is needed in Culver City, CA for 3-6 months (that will convert to a FULL TIME position)   Our client is looking for a Data Scientist with strong business acumen to join their rapidly growing data team. You will have high visibility in this role within the company partnering with media, business development, and strategy teams.   This role requires someone to work with large volumes of social engagement and transaction data to discover trends, analyze results, patterns, and provide ad-hoc exploration to make ambiguous data actionable.   Specific Requirements include:   Provide Thought leadership in customer      segmentation, behavior based modeling (propensity, churn, LTV) data      strategy and analytic approaches  Work with clients to better understand      strategic business decisions.  Develop optimization plans for ongoing      marketing campaigns.  Integrate and improve machine learning      pipelines on propensity scoring and LTV projection to granularize the      understanding of user journey and customer value.  Drive buildout and improvement of ETL      pipelines in support of data aggregation movement and analysis.    We are seeking Data Scientists who meet the following requirements:   6+ Years experience data mining very large      complex multi-dimensional datasets.  Must have technical mastery with large      individual behavioral data sets (gaming, retail, financial services) and      expertise in communication channel best practices.  Must have Technical mastery in database      mining tools and be a SQL and Excel Master.  Must be proficient in SAS/ R/ Python (any of      the 3) and be able to coach and train others on best practices. (ideally)  Must be an Excel master able to write      Macros.  Prefer candidates who a degree in data      science or a quantitative field.  Must have experience work Marketing      Measurement methodologies.    This is a technical Data Science role more related to manipulating and analyzing data to derive insights than being able to translate insights into actionable business decisions.    Must be at least 18 years old. Onward Search is a drug-free workplace. Onward Search is an equal opportunity employer, dedicated to a policy of non-discrimination in employment with regard to race, color, religion, gender, sexual orientation, national origin, age, disability, genetic information, veteran status or any other classification protected by federal, state and local laws and ordinances, nationally and internationally. EOE/M/F/D/V/SO'

In [18]:
final_data=final_data[final_data['Level']!= 'Not Applicable'].drop('Unnamed: 0', axis=1)
final_data.head()

,Level,Type_of_Job,Description
0,Mid-Senior level,Full-time,Lead Data Engineer Data Engineer required ...
1,Mid-Senior level,Full-time,Our client is building the future of medical d...
4,Mid-Senior level,Full-time,We are seeking healthcare analytics lead to su...
5,Entry level,Full-time,In order to be considered for this position pl...
6,Mid-Senior level,Full-time,Senior Deep Learning Scientist Location: New...

In [15]:
final_data=final_data.drop('Unnamed: 0', axis=1)
final_data.head(10)

,Level,Type_of_Job,Description
0,Mid-Senior level,Full-time,Lead Data Engineer Data Engineer required ...
1,Mid-Senior level,Full-time,Our client is building the future of medical d...
4,Mid-Senior level,Full-time,We are seeking healthcare analytics lead to su...
5,Entry level,Full-time,In order to be considered for this position pl...
6,Mid-Senior level,Full-time,Senior Deep Learning Scientist Location: New...
7,Executive,Full-time,"SVP Data Science & AnalyticsHouston, TX The S..."
8,Associate,Full-time,"Data Scientist is needed in Culver City, CA fo..."
9,Mid-Senior level,Full-time,"Data Engineer Raleigh, NC Software Start-Up Co..."
10,Mid-Senior level,Full-time,Evaluate current data to identify new opportun...
11,Director,Full-time,Executive Director Data Science Manager Who w...